<p id="notice"><%= notice %></p>

<h1>Reseñas recibidas</h1>

<table>
  <thead>
    <tr>
      <th>Puntuación</th>
      <th>Contenido</th>
      <th>Autor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.score %></td>
        <td><%= review.content %></td>
        <td><%= review.user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Volver', users_path %>