<p id="notice"><%= notice %></p>

<h1>Solicitudes</h1>

<table>
  <thead>
    <tr>
      <th>Chofer del turno</th>
      <th>Tu solicitud</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <% if current_user == request.user %>
        <td><%= request.turno.owner.username %></td>
        <td><%= request.description %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Ver turno', request.turno %></td>
        <td><%= link_to 'Eliminar solicitud', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Volver', homepages_path, method: :get%>
